body {
  background-image: url(/img/bg.png);
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0;
  margin-top: 30px;
  text-transform: uppercase;
  color: #e7e7e7;
  text-shadow: 1.5px 1.5px 0 #333, 0px 1.5px 0 #333, -1.5px -1.5px 0 #333,
    -1.5px -1.5px 0 #333, -1.5px 1.5px 0 #333, 1.5px -1.5px 0 #333,
    0.7778174593px 0.7778174593px 0 #aaaaaa,
    1.5556349186px 1.5556349186px 0 #aaaaaa,
    2.3334523779px 2.3334523779px 0 #aaaaaa,
    3.1112698372px 3.1112698372px 0 #aaaaaa,
    3.8890872965px 3.8890872965px 0 #aaaaaa,
    4.6669047558px 4.6669047558px 0 #aaaaaa,
    5.4447222151px 5.4447222151px 0 #aaaaaa,
    6.2225396744px 6.2225396744px 0 #aaaaaa,
    7.0003571337px 7.0003571337px 0 #aaaaaa,
    7.7781745931px 7.7781745931px 0 #aaaaaa;
}
.container {
  width: 600px;
  margin: auto;
  padding: 20px;
  position: relative;
}
.computer {
  width: 560px;
  height: 260px;
  margin: 5px auto;
  background-color: #364f6b;
  position: relative;
  padding-top: 40px;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
}
.player {
  width: 560px;
  height: 260px;
  margin: 5px auto;
  background-color: #3fc1c9;
  position: relative;
  box-sizing: border-box;
  border-radius: 0px 0px 20px 20px;
}
.info {
  width: 150px;
  height: 60px;
  border: 5px solid #fc5185;
  position: absolute;
  left: 50%;
  margin-left: -75px;
  top: 50%;
  margin-top: -30px;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
  text-align: center;
  line-height: 60px;
  color: #fc5185;
  font-size: 26px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
ul {
  padding-top: 80px;
  padding-left: 25px;
}
li {
  display: inline-block;
  margin: 0 18px;
}
img {
  width: 130px;
  height: 130px;
  display: block;
  margin: auto;
  border-radius: 50%;
}
.gajah,
.orang,
.semut {
  transition: 0.3s;
  position: relative;
  top: 0;
  cursor: pointer;
}
.gajah:hover,
.semut:hover,
.orang:hover,
.active {
  box-shadow: 0 0 10px 5px #fc5185;
}

.gajah:active,
.semut:active,
.orang:active {
  top: 2px;
}
